@model IEnumerable<WebHospital.Models.Employee>
@{
    Layout = null;
}
<p>
    @Html.ActionLink("Новый сотрудник", "CreateEmployee", "Employee")
</p>
<table class="table">
    @foreach (WebHospital.Models.Employee e in Model)
    {
        <tr>
            <td scope="row">@e.FIOEmployee</td>
        </tr>
    }
</table>

