@model IEnumerable<WebHospital.Models.Specialty>
@{
    Layout = null;
}
<p>
    @Html.ActionLink("Добавить специализацию", "CreateSpecialty", "Specialty")
</p>
<table class="table">
    @foreach (WebHospital.Models.Specialty e in Model)
    {
        <tr>
            <td scope="row">@e.NameSpecialty</td>
        </tr>
        <tr>
            @Html.Action("GetEmployees", "Employee", new { id = e.IDSpecialty })
        </tr>
    }
</table>

