@model IEnumerable<WebHospital.Models.Specialty>
<p>
    @Html.ActionLink("Добавить специализацию", "CreateSpecialty", "Specialty")
</p>
<h2>Специализации</h2>
<table class="table">
    @foreach (WebHospital.Models.Specialty s in Model)
    {
        <tr>
            <td>@s.NameSpecialty</td>
            <td>@Html.ActionLink("Редактировать", "EditSpecialty", "Specialty", new { id = s.IDSpecialty }, new { @class = "form-control" })</td>
            <td>@Html.ActionLink("Удалить", "DeleteSpecialty", "Specialty", new { id = s.IDSpecialty }, new { @class = "form-control" })</td>
        </tr>
    }
</table>

