@model IEnumerable<WebHospital.Models.Department>
<p>
    @Html.ActionLink("Новое отделение", "CreateDepartment", "Department")
</p>
<table class="table">
    @foreach (WebHospital.Models.Department e in Model)
    {
        <tr>
            <td scope="row">@e.NameDepartment</td>
        </tr>
        <tr>
            @Html.Action("GetSpecialties", "Specialty", new { id = e.IDDepartment })
        </tr>
    }
</table> 