@model WebHospital.Models.Reception

<h2>Удаление записи о приеме</h2>
<dl>
    <dt>ФИО врача</dt>
    <dd>
        @Html.DisplayFor(model => model.Employee1.FIOEmployee)
    </dd>
    <dt>ФИО пациента</dt>
    <dd>
        @Html.DisplayFor(model => model.Patient1.FIOPatient)
    </dd>
    <dt>Дата приема</dt>
    <dd>
        @Html.DisplayFor(model => model.LogInDate)
    </dd>
    <dt>Время приема</dt>
    <dd>
        @Html.DisplayFor(model => model.LogInTime)
    </dd>
</dl>
@using (Html.BeginForm())
{
    <input type="submit" class="btn btn-primary" value="Удалить" />
}
