@model WebHospital.Models.Department

<h2>Новое отделение</h2>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.NameDepartment, "Наименование отделения")
    <br />
    <br />
    @Html.EditorFor(model => model.NameDepartment, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.NameDepartment, null, new { @class = "text-danger" })
    <br />
    <input type="submit" class="btn btn-primary" value="Добавить" />
}

